body{
    margin:0;
}
.intro{
    background-image:url('1.jpg');
	background-size:cover;
	background-attachment: fixed;
	padding-bottom: 200vh;
}
.overlay{
    background-color:rgba(0,0,0,.2);
    height:100vh;
}
.navbar{
    color: black;
    background-color:rgba(255,255,255,.7);
    padding:30px;
    font-size: 30px;
    font-family: verdana;
    box-shadow: 0px 5px 21px -5px rgba(0,0,0,1);
}
.mainpagedesc{
    color:white;
    font-size:40px;
    padding:30px;
    position: relative;
    top: 40%;
    text-align: center;
    transform: translateY(-50%);
    /* text-shadow: 2px 2px 5px #fff; */
}

.button1 {
	box-shadow: 0px 10px 25px -5px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:31px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:15px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;

}
.button1:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.button1:active {
	position:relative;
	top:1px;
}

.button2 {
	box-shadow: 0px 10px 25px -5px #b300fa;
	background:linear-gradient(to bottom, #b600e3 5%, #a60064 100%);
	background-color:#b600e3;
	border-radius:31px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:15px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.button2:hover {
	background:linear-gradient(to bottom, #a60064 5%, #b600e3 100%);
	background-color:#a60064;
}
.button2:active {
	position:relative;
	top:1px;
}

#buttons{
	padding:20px;
}

        