body{
	margin:0;
	font-family: palatino, monospace;
}
*{
	box-sizing: border-box;
	font-family: 'dfont';
}

@font-face {
	font-family: "dfont";
	src: url(../dfont.ttf);
}

.overlay{
	background-color:rgba(0,0,0,.8);
	margin: 10px;
}
.navbar{
    color: #666;
    background-color:rgba(255,255,255,1);
    font-size: 30px;
    font-family: verdana;
	box-shadow: 0px 8px 36px -7px rgba(0,0,0,0.75);
	padding:18px;
	height:70px;
	margin-bottom:10px;
	text-align:center;
}
.mainpagedesc{
    color:white;
    font-size:20px;
    padding:15px;
	text-align: center;
	background-color: rgba(119, 119, 255,0);
	height: calc( 100vh - 100px );
	overflow:auto;
}



.button1 {
	background-color:#44c767;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	margin: 0px;
	border:0;
}
.button1:hover {
	background-color:#5cbf2a;
}
.button1:active {
	position:relative;
	top:1px;
}



a{
	text-decoration: none;
	color:inherit;
}

hr {
	border: 0;
	border-top: 1px solid #afa;
	/* border-bottom: 1px solid #fff; */
	width:70%;
  }
.note{
	background-color:white;
	color:black;
	padding:0;
	margin-top:10px;
	margin-left:15%;
	margin-right: 15%;
	overflow: hidden;
}
.title{
	text-transform: capitalize;
	font-size:140%;
	background-color: #ececec;
	color:#222;
	padding:10px;
	margin-bottom:10px;
}
.content{
	padding:15px;
}
.buttoncontainer{
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 20px;
}
.left{
	float:left;width:49%;
}
.right{
	float:left;width:49%;margin-left:2%;
}
.deletebutton{
	margin-top:10px;
	background-color: #f44;
}
.deletenote{
	padding-top:5px;
	padding-bottom:5px;
	border-top:1px solid #aaa;
	color:#f22;
	background-color:#eee;
	font-size: 90%;
}

@media only screen and (max-width: 600px) {
    .mainpagedesc {
        font-size:90%;
	}
	.trustedby{
		font-size:13px;
	}
	.navbar{
		font-size: 17px;
		height:50px;
	}
	.note{
		margin-left:0;
		margin-right: 0;
	}
	.buttoncontainer{
		margin-left: 5%;
		margin-right: 5%;
}