<!DOCTYPE html>
<html>

<head>

    {% load static %}

  <title>NoteClip</title>
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <link rel="stylesheet" href="{% static '/css/base.css' %}">
  <link rel="icon" href="{% static '/fav.png' %}" type="image/gif">


</head>

<body>
    <div class="intro">
    <div class="overlay">
        <div class="navbar">
          NoteClip
        </div>
        <div class="mainpagedesc">


<div class="smalltext">
<form method="get" action="receive">
Title :<input type="text" name="title"/><br><br>
Content :<br><input class="bigbox" type="text" name="content"/><br>
<input class="button1" type="submit" value="submit"/>
<br>
  </form>
  </div>


</div>
</div>
</div>


</body>

</html>