<!DOCTYPE html>
<html>

<head>

    {% load static %}

  <title>NoteClip</title>
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <link rel="stylesheet" href="{% static '/css/index.css' %}">


</head>

<body>

These are your Notes 
{% if user.is_authenticated %}
{{ user.username }} !

<br><br><hr>
{% for obj in Jkk %}
{% if user.is_authenticated %}
    <!-- {% cycle 'row1' 'row2' as rowcolors silent %} -->
    Title : {{obj.title}} <br>
    Content : {{obj.content}}<br>
    Id : {{obj.id}}<br>
    <a href="deletenote?id={{obj.id}}">Delete Note</a>
    <hr>
  {% endif %}
{% endfor %}
<br><br>



<p><a href="{% url 'logout' %}">logout</a></p>
<p><a href="deleteaccount">Delete Account</a></p>
<p><a href="addnew">Add Note</a></p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">login</a>
{% endif %}



</body>

</html>