<!DOCTYPE html>
<html>

<head>

    {% load static %}

  <title>NoteClip</title>
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <link rel="stylesheet" href="{% static '/css/notes.css' %}">
  <link rel="icon" href="{% static '/fav.png' %}" type="image/gif">


</head>

<body>

        <div class="overlay">
          <div class="navbar">
            NoteClip
          </div>
          <div class="mainpagedesc">





              {% if user.is_authenticated %}
              These are your Notes {{ user.username }} !
              
              <br><br><hr>
              {% for obj in Jkk %}
                  <!-- {% cycle 'row1' 'row2' as rowcolors silent %} -->
                  <div class="note">
                  <div class="title">{{obj.title}} </div>
                  <div class="content">{{obj.content}}</div>
                  <div class="deletenote"><a href="deletenote?id={{obj.id}}">Delete Note</a></div>
                  </div>
              {% endfor %}

              
              <div class="buttoncontainer">
                  <a href="addnew"> <div class="button1 left">Add Note</div></a>
                  <a href="{% url 'logout' %}"><div class="button1 right">Logout</div></a>
                  <a href="deleteaccount"><div class="button1 deletebutton">Delete Account</div></a>
              </div>
              


              {% else %}
              <p>You are not logged in</p>
              <a href="{% url 'login' %}"><button class="button1">Login</button></a>
              {% endif %}






          </div>
        </div>


</body>

</html>